body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color:#508AA8;
}
 
.home-area {
    position: relative;
    background-image: url("https://images.pexels.com/photos/1983036/pexels-photo-1983036.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
}
.logo {
    flex: 1 1 auto;
    margin-left: 8%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
}
.about-area,.services-area,.contact-area,.gallery-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 300px;
}
table,tr,th,td {
    padding: 15px;
    border-collapse: collapse;
    border: 5px solid brown;
}
.text {
    width: 65%;
    height: 80%;
}
h1 {
    font-size: 50px;
    font-family: Audiowide;
    text-align: center;
}
p {
    font-size: 24px;
    line-height: 50px;

}
.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d4d7de;
    width: 100%;
    width: 100%;
    z-index: 2;
}
ul {
text-align: right;
}
li {
    display: inline-block;
    color: #000;
    padding: 18px;
}
a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: #000;
    border-radius: 20px;
}
a:hover {
    padding: 5px;
    color: skyblue;
}
p {
    text-align: center;
    padding-left: 40px;
}
.class {
    box-sizing: border-box;
    max-width: 1500px;
    margin: auto;
    background: #fefefe;
    overflow: auto;
}
.gallery {
    margin: 10px;
    border: 5px solid #ccc;
    float: left;
    width: 302px;
    justify-content: space-evenly;
}

html {
    scroll-behavior: smooth;
}
.about-area , .services-area {
    background: #000;
    background-size: cover;
    width: 100%;
}
.contact-area , .gallery-area {
    background: #262626;
}
.id {
    font-weight: bold;
    font-family: monospace;
    color: white;
}
#desc {
    text-align: center;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
p3 {
    color: white;
    font-weight: bolder;
    font-family: monospace;
}
.f {
    position:center;
    float: right;
}
